p {
    color: white;
    background-color: lightblue;
    border: 1px;
    padding: 15mm;
    border-radius: 30px;
    font-style: italic;
}

.box {
    background-color: aqua;
    border-color: black;
    border: 2px;
    border-radius: 10px;
    padding : 25px;
    width: min-content;
    height: auto;
}